<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321447930476-u96jdk996jr2cjap64humeeddh63ucdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321447930476-u96jdk996jr2cjap64humeeddh63ucdo</string>
	<key>API_KEY</key>
	<string>AIzaSyDbnWndT2gFtlJU5SSbynlky70T7BYaDaY</string>
	<key>GCM_SENDER_ID</key>
	<string>321447930476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axlfcxruppy.scriptstudio</string>
	<key>PROJECT_ID</key>
	<string>scriptsstudio-axlfcxrppy</string>
	<key>STORAGE_BUCKET</key>
	<string>scriptsstudio-axlfcxrppy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321447930476:ios:f5edd3258bc6ae8ff24649</string>
	<key>DATABASE_URL</key>
	<string>https://scriptsstudio-axlfcxrppy-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>